[build]
  command = "sudo apt-get update && sudo apt-get install -y build-essential python3-dev libmysqlclient-dev && pip install -r requirements.txt"
  publish = "build"

[context.production.environment]
  PYTHON_VERSION = "3.8.10"
  MYSQLCLIENT_CFLAGS = "-I/usr/include/mysql"
  MYSQLCLIENT_LDFLAGS = "-L/usr/lib/mysql -lmysqlclient"

[context.deploy-preview.environment]
  PYTHON_VERSION = "3.8.10"
  MYSQLCLIENT_CFLAGS = "-I/usr/include/mysql"
  MYSQLCLIENT_LDFLAGS = "-L/usr/lib/mysql -lmysqlclient"
