<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freelancers</title>
    <link rel="stylesheet" href="../styles/styles.css">

</head>
<body>
    <!-- Navigation -->
    <header>
        <div class="logo-container">
            <img src="../images/Workfee_name.png" alt="Logo">
        </div>
   <!-- Add the image at the bottom of the body -->
   <img src="../images/picture_landing_page.png" alt="Web_Image" class="bottom-right-image">

        <nav class="tabs">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="freelancers.html">Freelancers</a></li>
                <li><a href="job-listing.html">Job Listing</a></li>
                <li><a href="account.html">Account</a></li>
                <li><a href="help-desk.html">Help Desk</a></li>
            </ul>
        </nav>
    </header>

    <!-- Freelancers Section -->
    <main>
        <section id="freelancers">
            <h2>Freelancers</h2>
	    <p> "Connect with the best freelancers to turn your vision into reality."</p>
            <form id="search-form" action="{{ url_for('freelancers_page') }}" method="POST">
                <input type="text" id="search-input" placeholder="Search by industry...">
                <button type="Go">Search</button>
            </form>
            <ul id="freelancer-list">
                {% for freelancer in freelancers %}
                    <li>{{ freelancer.name }} - {{ freelancer.industry }}</li>
                {% endfor %}
            </ul>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <blockquote>
            <p>"WORKfee, connecting you with the best freelancers to meet your deadlines and surpass your goals!"</p>
            <footer>- WORKfee 2024</footer>
        </blockquote>
    </footer>
</body>
</html>
