<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <header>
    <!-- Logo -->
    <div class="logo-container">
        <img src="../images/Workfee_name.png" alt="Logo" class="Logo">
    </div>
    <!-- Clickable Tabs -->
    <nav class="tabs">
        <ul>
            <li><a href="freelancers.html">Freelancers</a></li>
            <li><a href="job_listing.html">Job Listing</a></li>
            <li><a href="account.html">Account</a></li>
            <li><a href="help_desk.html">Help Desk</a></li>
        </ul>
    </nav>
    </header>

    <!-- Main content -->
    <main>
        <section class="quote-section">
            <blockquote>
                <p>"Work for a fee with WORKfee!"</p>
            </blockquote>
            <form action="#" method="GET">
                <input type="text" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
	    <footer>Popular Services: Personal assistant, Backend web-development, data capturing, graphic design</footer>
        </section>
    </main>

    <!-- Add the image at the bottom of the body -->
    <img src="../images/picture_landing_page.png" alt="Web_Image" class="bottom-right-image">
    <!-- Footer -->
    <footer>
        <blockquote>
            <p>"Find your next gig with us!"</p>
        </blockquote>
    </footer>
</body>
</html>
